{% set componentName = "wiloke-hero-slider" %}
{% set componentFile = 'component3.twig' %}


{% if content|length == 0 %}
	<div class="{{ componentName }}-wrapper">
		<div class="p:40px fz:20px ta:center bgc:#eee cur:pointer">Click here to set up the slider</div>
	</div>
{% else %}
	<div class="{{ componentName }}-wrapper lh:1.5">
			<div class="wil-animated-slider">
				<div class="wil-animated-slider__inner pos:relative mih:500px mih:700px@md mih:800px@lg mah:100vh@lg">
					{% for item in content %}
						<div class="swiper-slide wil-animated-slider__slide d:flex! fld:column! bgz:cover bgp:center ov:hidden wil-animated-slider__slide--active">
							{% include "Shared/" ~ componentFile %}
						</div>
					{% endfor %}
					<div class="wil-animated-slider__pagination pos:absolute z:9 l:50% b:20px trf:translateX(-50%)" data-animated-pagination-active-class="trf:scale(2)">
						{% for item in content %}
							<div class="wil-animated-slider__pagination-item wiloke-3__pagination-item w:5px h:5px bgc:#fff m:5px trs:0.3s" style="{{colorLightVariable}}"></div>
						{% endfor %}
					</div>
					<div class="wil-animated-slider__arrow">
						<div class="wil-animated-slider__arrow-left wiloke-3__arrow-left l:10px group* pos:absolute t:50% z:9 trf:translateY(-50%) cur:pointer c:#fff fz:60px trs:0.4s d:flex ai:center jc:center ov:hidden d:none@+md" style="{{colorLightVariable}}">
							<i class="{{iconArrowLeft}}"></i>
						</div>
						<div class="wil-animated-slider__arrow-right wiloke-3__arrow-right r:10px group* pos:absolute t:50% z:9 trf:translateY(-50%) cur:pointer c:#fff fz:60px trs:0.4s d:flex ai:center jc:center ov:hidden d:none@+md" style="{{colorLightVariable}}">
							<i class="{{iconArrowRight}}"></i>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endif %}

