{% set componentName = "wiloke-hero-slider" %}

<a href="{{item.link}}" class="wiloke-5-title titleTypo d:inline-block td:none! p:10px_50px bgc:#6D3832 c:#fff bdrs:20px_0 bxsh:0px_4px_10px_rgba(109,56,50,0.2) trs:0.3s" style="{{titleTypo}} {{colorLightVariable}} {{colorPrimaryVariable}} {{borderWidth}} {{borderStyle}} {{borderColor}} {{radiusTopLeft}} {{radiusTopRight}} {{radiusBottomRight}} {{radiusBottomLeft}} {{paddingTop}} {{paddingRight}} {{paddingBottom}} {{paddingLeft}}">
  {{item.title}}
</a>
